@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-primary: 'Roboto', sans-serif;
}

body {
  font-family: var(--ff-primary);
}

li::before {
  content: url('./assets/images/icon-list.svg');
  position: absolute;
  top: 0;
  left: 0;
}

.invisible {
  visibility: hidden;
}

.invalid {
  background-color: hsl(4, 100%, 94%);
}

.invalid,
.invalid::placeholder {
  color: hsl(4, 100%, 67%);
}
